/* ContactCard.css

.contact-card {
    background-color: #cba1a1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .contact-card h2 {
    margin-bottom: 16px;
  }
  
  .contact-card form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin:auto;
    padding-left: 5rem ;
    padding-right: 5rem;

  }
  
  .contact-card div {
    margin-bottom: 16px;
  }
  
  .contact-card label {
    font-weight: bold;
  }
  
  .contact-card input,
  .contact-card textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .contact-card button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px 16px;
    width:50px;
    background-color: #007bff;
    color: #f6d1d1;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .contact-card button:hover {
    background-color: #0f171f;
  }
  
  form div label{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  input {
    margin-left: 1rem;
  }

  #message-label{
    margin-right: 1rem;
  } */
  .contact-card {
    background-color: aqua;
    border: 5px black;
    border-radius: 5px ;
    width: 33.33%;
    height: 33.33vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    opacity: .7;
  }
  
  .contact-card form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
  
  .contact-card form div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .contact-card form label {
    margin-right: 10px;
  }
  
  .contact-card form input,
  .contact-card form textarea {
    width: 200px;
    padding: 5px;
  }
  
  .contact-card form button {
    margin: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
  }
  