/* main-container::after{
    content:"";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #d11f1f;
    position:absolute;
    top: 0;
    left: 0;
    opacity: .7;
    margin-top: 0;
}
main-container{
    position: relative;
    margin-top: 0;
} */

main-container{
    background-image: url('../images/ClearShot.png');
    padding: 20vh 0;
    background-size: cover;
    text-align: center;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    background-color: rgba(23, 23, 24, 0.962);
  }