
main-container{
    background-image: url('../images/ClearShot.png');
    padding: 20vh 0;
    background-size: cover;
    text-align: center;
}

ul{
    margin-top: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    background-color: rgba(23, 23, 24, 0.962);
  }

  header{
    position: sticky; 
    top: 0;
    z-index: 100;
  }
