
.card-container {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(242, 244, 243, 0.471);
  padding: 5px;
  margin: 20px;
  width:300px;
}
 
.project-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items:center ;
  height: 100vh;
  color: #faf7f7;
  
}

h2 {
  font-size: 24px;
  color: #f4eaea;
  margin-bottom: 10px;
}

a {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #f5f0f0;
  margin-bottom: 10px;
  text-decoration: none;
  
  /* opacity: 10%; */
}

a:hover {
  text-decoration: underline;
}

img {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 30%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 10px;
}

p {
  flex-direction: row;
  color: #fcfbfb;
  font-size: large;
  line-height: 1.5;
}
