.App {
  text-align: center;
  margin: auto;
  height: 100vh; 
 
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  height: 100vh;
}

li {
  color: #cd1467;
  margin: 20px;
}

h2 {
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: cursive;
}

#root {
  height: 100vh;
  margin-top: 0;
}