.App {
  /* background: radial-gradient(circle at 33%, #021000, #14e02b 50%, #e6ede6 75%, #084a12 75%); */

  background: radial-gradient(at top left, rgba(50, 11, 221, 0.5), rgba(0, 0, 0, 0.5));
  text-align: center;
  margin: auto;
  height: 100vh;
}

.smile {
  display: flex-end;
  justify-content: flex-end;
  background-repeat: no-repeat;
  border: 5px solid black;
  border-radius: 50%;
  /* opacity: .7; */
  width: 200px;
  height: 200px;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  height: 100vh;
}

html {
  height: 100vh;
}

li {
  margin: 20px;
}

h2 {
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: cursive;
}

#root {
  height: 100vh;
  margin-top: 0;
}